form {
  display: flex;
  flex-direction: column;
}

form fieldset {
  border: none;
  margin-bottom: 8px;
}

form input, textarea {
  width: 100%;
}

form textarea {
  height: 175px;
}

form button {
  margin: 10px 15px;
  width: 60px;
  border: 1px black solid;
  border-radius: 5px;
  background-color: #fff;
}